# Maven
/client/target/
/server/target/
/out/
/.mvn/wrapper/.cache/

# IntelliJ IDEA
*.iml
.idea/

# Systemowe pliki tymczasowe
.DS_Store
Thumbs.db
*.swp

# Logi i pliki tymczasowe
*.log
*.tmp

# Specyficzne dla projektu
Roulette.iml

# DO NOT IGNORE
/mvnw
/mvnw.cmd
/.mvn/wrapper/maven-wrapper.jar
/.mvn/wrapper/maven-wrapper.properties