<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>
    <session-factory>
        <!-- JDBC database connection settings -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/roulette</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">Dsadas123`</property>

        <!-- JDBC connection pool settings -->
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">300</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="hibernate.current_session_context_class">thread</property>

        <!-- Show SQL queries -->
        <property name="hibernate.show_sql">true</property>

        <!-- Automatically update the schema -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Specify annotated class -->
        <mapping class="ef.models.User"/> <!-- Twój model User -->
        <mapping class="ef.models.GameSession"/>
        <mapping class="ef.models.Round"/>
        <mapping class="ef.models.RoundBet"/>

    </session-factory>
</hibernate-configuration>
