.stage{
    -fx-background-color: #0d1a00;
}
.label{
    -fx-text-fill: #cccccc;
}
.windowBar{
    -fx-background-color: #1a1a1a;
}
.exitBtn, .minimizeBtn{
    -fx-background-color: #1a1a1a;
    -fx-text-fill: #cccccc;
    -fx-font-weight: bold;
    -fx-background-radius: 0;
    -fx-border-radious: 0;
}
.exitBtn:hover{
    -fx-background-color: #cc0000;
    -fx-text-fill: #ffffff;
}
.minimizeBtn:hover{
    -fx-background-color: #333333;
}
.titleLabel{
    -fx-font-weight: bold;
}
.authBtn{
    -fx-background-color: #ff6600;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}
.authBtn:hover{
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 10, 0.5, 0, 0);
}
.playBtn{
    -fx-background-color: #ff6600;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-size: 25px;
}
.playBtn:hover{
    -fx-font-size: 25px;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 10, 0.5, 0, 0);
}
.userMenuBtn{
    -fx-background-color: #cccccc;
    -fx-text-fill: #ff6600;
    -fx-font-weight: bold;
}
.userMenuBtn:hover{
    -fx-background-color: #e6e6e6;
    -fx-effect: dropshadow(gaussian, rgb(255, 102, 0, 0.7), 10, 0.5, 0, 0);
}
.board{
    -fx-background-color: #0d1a00;
    -fx-border-color: #cccccc;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}
.board:hover{
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 10, 0.5, 0, 0);
}
.board:hover Label{
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 10, 0.5, 0, 0);
}
.board.odd{
    -fx-background-color: #cc0000;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}
.board.odd:hover Label{
    -fx-text-fill: black;
    -fx-effect: dropshadow(gaussian, rgb(26, 26, 26), 10, 0.5, 0, 0);
}
.board.even{
    -fx-background-color: black;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}
.board.even:hover Label{
    -fx-text-fill: #cc0000;
    -fx-effect: dropshadow(gaussian, rgb(153, 0, 0), 10, 0.5, 0, 0);
}
.info{
    -fx-background-color: #0d1a00;
    -fx-border-color: #cccccc;
}
.gameBtn{
    -fx-background-color: #0d1a00;
    -fx-border-color: gold;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}
.gameBtn:hover{
    -fx-effect: dropshadow(gaussian, rgb(180, 157, 4), 10, 0.5, 0, 0);
}
.token:hover{
    -fx-effect: dropshadow(gaussian, rgb(180, 157, 4), 10, 0.5, 0, 0);
}